<div class="principle">
    <div class="principle__text">
        <h2>VAH</h2>
        <h3>Nuestra historia</h3>
        <p>Conoce nuestra historia a continuación desde el comienzo.</p>
    </div>
    <div class="principle__image">
        <img src="nosotros/imagen.jpeg" alt="">
    </div>
</div>
<div class="details">
    <div class="details__item">
        <img src="nosotros/details/veterinario.png" alt="">
        <div class="details__item__inf">
            <h2>21</h2>
            <p>Médicos Veterinarios</p>
        </div>
    </div>
    <div class="details__item">
        <img src="nosotros/details/pacientes.png" alt="">
        <div class="details__item__inf">
            <h2>500</h2>
            <p>Pacientes Atendidos</p>
        </div>
    </div>
    <div class="details__item">
        <img src="nosotros/details/experiencia.png" alt="">
        <div class="details__item__inf">
            <h2>14</h2>
            <p>Años de experiencia </p>
        </div>
    </div>
    <div class="details__item">
        <img src="nosotros/details/especialidades.png" alt="">
        <div class="details__item__inf">
            <h2>10</h2>
            <p>Especialidades</p>
        </div>
    </div>
</div>
<div class="history">
    <img src="nosotros/clinicaveterinaria.jpg" alt="">
    <div class="history__container">
        <h2>Historia</h2>
        <p>Iniciamos nuestras actividades en San Pedro Garza García en el año de 1987 y desde entonces asumimos el
            compromiso de brindar todos los servicios que su mascota requiera. Con un alto grado de calidad, trato
            humano y profesionalismo.</p>
    </div>
</div>
<div class="miviva">
    <div class="miviva__item">
        <h2>Misión</h2>
        <div class="miviva__item__line">
        </div>
        <p>Brindar atención cálida y oportuna a las mascotas de nuestra comunidad; amamos con pasión a nuestra
            profesión.</p>
    </div>
    <div class="miviva__item">
        <h2>Visión </h2>
        <div class="miviva__item__line"></div>
        <p>Brindar atención cálida y oportuna a las mascotas de nuestra comunidad; amamos con pasión a nuestra
            profesión.
            Ser el hospital líder y de referencia en el norte del país, crear turismo medico en el ámbito veterinario y
            ser pioneros siempre en los avances tecnológicos para dar un servicio a la vanguardia.</p>
    </div>
</div>

<div class="values">
    <h2>Misión</h2>
    <div class="values__line"></div>
    <div class="values__set">
        <div class="values__set__box">
            <div class="values__set__box__item">
                <i class="fa-solid fa-check"></i>
            </div>
           <p>Confianza</p>
        </div>
        <div class="values__set__box">
            <div class="values__set__box__item">
                <i class="fa-regular fa-heart"></i>
            </div>
            <p>Compasión</p>
        </div>
        <div class="values__set__box">
           
            <div class="values__set__box__item">
                <i class="fa-regular fa-star"></i>
            </div>
           <p>Respeto</p>
        </div>
        <div class="values__set__box">
           
            <div class="values__set__box__item">
                <i class="fa-solid fa-users"></i>
            </div>
            <p>Trabajo en Equipo</p>
        </div>
        <img src="connections/dog.webp" alt="">

    </div>
    


</div>

<div class="image">
    <img src="nosotros/veterinaria2.png" alt="">

</div>
<div class="equipment">
    <div class="equipment__title">
        <p>Confíanos la vida de tu mascota</p>
        <h2>Nuestro Equipo de Veterinarios</h2>
    </div>

    <div class="equipment__item">
        <img src="nosotros/equipment/image.png" alt="">
        <p>M.V.Z. Mónica Martínez Rodríguez</p>
        <div class="equipment__item__line"></div>
        <h3>Medico Veterinario</h3>
        <button><i class="fa-solid fa-envelope"></i>
        </button>
    </div>
    <div class="equipment__item">
        <img src="nosotros/equipment/image.png" alt="">
        <p>M.V.Z. Mónica Martínez Rodríguez</p>
        <div class="equipment__item__line"></div>
        <h3>Medico Veterinario</h3>
        <button><i class="fa-solid fa-envelope"></i></button>
    </div>
    <div class="equipment__item">
        <img src="nosotros/equipment/image.png" alt="">
        <p>M.V.Z. Mónica Martínez Rodríguez</p>
        <div class="equipment__item__line"></div>
        <h3>Medico Veterinario</h3>
        <button><i class="fa-solid fa-envelope"></i></button>
    </div>
    <div class="equipment__item">
        <img src="nosotros/equipment/image.png" alt="">
        <p>M.V.Z. Mónica Martínez Rodríguez</p>
        <div class="equipment__item__line"></div>
        <h3>Medico Veterinario</h3>
        <button>
            <i class="fa-solid fa-envelope"></i>
        </button>
    </div>
</div>
<div class="foot">
    <h2>En VAH contamos con los servicios mas especializados en Ciudad Mante.</h2>
</div>
<div class="patent">
    <p>© 2024 Hospital Veterinario AH. </p>
</div>