<div class="principle">
    <div class="principle__text">
        <h2>Agenda tu cita</h2>
        <p>¡Contáctanos para cualquiera duda sobre tu mascota!</p>
    </div>
    <div class="principle__image">
        <img src="nosotros/imagen.jpeg" alt="">
    </div>
</div>
<div class="connections">
    <div class="connections__item">
        <img src="connections/icon/correo.png" alt="">
        <p>¿Tienes dudas? contacto&#64;vah.com</p>
    </div>
    <div class="connections__item">
        <img src="connections/icon/chat.png" alt="">
        <p>Llámanos
            +52 (81) 8378 4747</p>
    </div>
    <div class="connections__item">
        <img src="connections/icon/corazon.png" alt="">
        <p>Urgencias 24 Hrs
            +52 (81) 8063 7657</p>
    </div>
    <div class="connections__item">
        <img src="connections/icon/whatsapp.png" alt="">
        <p>WhatsApp
            +52 1 (81) 3404 7871</p>
    </div>
</div>
<div class="foot">
    <h2>En VAH contamos con los servicios mas especializados en Ciudad Mante.</h2>
</div>
<div class="patent">
    <p>© 2024 Hospital Veterinario AH. </p>
</div>
